body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.svgContainer {
  position: relative;
}

.svgContainer > *:first-child {
  position: absolute;
  height: 60px;
  width: 60px;
  padding: 20px;
}

.nameContainer {
  font-size: 18pt;
  font-weight: 900;
  font-family: sans-serif;
  white-space: nowrap;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 2px;
}
